.img{
    padding-top: 50px;
    padding-left: 100px;
    margin-top: 60px;
    margin-left: 160px;
    width: 400px;

}
.loading{
    position: absolute;
    left: 800px;
    top: 250px;
  }

  .timeout{
      opacity: 0%;
  }